@{
  Layout = "_Layout";
}

<div class="page-header">
  <h1>Edit Band</h1>
</div>
<form action="/band-details/@Model.GetId()/updated" method="post" class="form-group">
  <label for="band">Band Name</label>
  <input type="text" name="band-name" class="form-control" placeholder="@Model.GetName()" pattern=".{1,}" required title="One or more characters" autofocus>
  <button type="submit" class="btn btn-success form-input" name="button">Update</button>
</form>
