@{
  Layout = "_Layout";
}

@if(Model.Count == 0)
{
  <div class="page-header">
    <h1>There are no venues</h1>
  </div>
}
else
{
  <div class="page-header">
    <h1>Venues</h1>
  </div>

  @foreach(var venue in Model)
  {
    <form action="/venue-deleted/@venue.GetId()" method="post">
      <a href="/venue-details/@venue.GetId()">
        <div class="well">
          <h4>@venue.GetName()
            <button type="submit" class="btn btn-danger delete">X</button>
            </h4>
        </div>
      </a>
    </form>
  }
}
