@{
  Layout = "_Layout";
}

<div class="page-header">
  <h1>@Model.GetName()</h1>
</div>

<div class="row">
  <div class="col-md-6">

    <h2>Band History</h2>

  </div>
  <div class="col-md-6">

    <h2>Add Band to Venue</h2>

  </div>
</div>
